---
import FooterContent from "./FooterContent.astro";
---

<footer class="accent">
  <div class="max-w-6xl flex sm:justify-around flex-wrap gap-x-4 lg:mx-auto place-content-start">
  <FooterContent />
  </div>
</footer>
