<!-- wrapper for hero to ensure that it is centered with a dark background -->
<div
    class="flex min-w-screen items-center h-fit md:h-[25rem] lg:h-[30rem] -mt-8 md:-mt-12 relative"
>
    <img
        src="/assets/images/header.png"
        alt="header"
        width="auto"
        height="20rem"
        class="w-auto mx-auto h-full"
    />
</div>
