---
import Attribution from "../components/Attribution.astro";
import "../styles/globals.css";
export interface Props {
	title: string;
	noindex?: boolean;
}

const { title, noindex = false } = Astro.props;

import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Root from "./Root.astro";
---

<Root title={title} noindex={noindex}>
    <div
        class="flex flex-col min-h-screen justify-between relative content-stretch"
    >
        <div class="bg-white">
            <Header />
            <Hero />
        </div>
        <main class="flex justify-center 2xl:text-xl w-screen mx-2 lg:mx-0">
            <div
                id="main"
                class="max-w-6xl flex flex-col gap-4 overflow-x-clip flex-1"
            >
                <slot />
            </div>
        </main>

        <Footer />
    </div>
    <Attribution />
</Root>
